<!doctype html>
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="{{ '/static/style.css'|url }}"> -->
<link rel="stylesheet" href="{{ '/static/bootstrap.css'|url }}">
<title>{% block title %}Welcome{% endblock %} — blog</title>
<body>
      <nav class="navbar navbar-inverse">
            <a class="navbar-brand" href="/">Home</a>
            <a class="navbar-brand" href="/about">Sobre</a>
            <a class="navbar-brand" href="/blog">Blog</a>
         </nav>
   <div class="jumbotron" align="center">
    {% block body %}{% endblock %}
  </div>
</body>
